
/****************************
* mainWindow style
**/

#title {
    background-color: #46B9F0;
}

#title .QLabel {
    color: #FFFFFF;
}

#mainContent {
    background-color: #F6FBFE;
}

#downloadList {
    border:none;
    background-color: #F6FBFE;
}

#newTaskBtn {
    border:none;
    background:transparent;
    image: url(:/fd/images/add_btn.jpg);
}

#newRightLine {
    border:none;
    border-left:1px solid #c0c0c0;
}

#startAllBtn {
    border:none;
    background-color:transparent;
    image: url(:/fd/images/start_btn _normal.jpg);
}

#pauseAllBtn {
    border:none;
    background-color:transparent;
    image: url(:/fd/images/pause_btn _normal.jpg);
}

#toolsBar {
    background-color: #BFE1F2;
}

#statusBar {
    background-color: #E1ECF2;
}

#lockTopCbox {
    color: #8d8d8d;
    spacing: 2px;
}
#lockTopCbox::indicator {
    width: 20px;
    height: 20px;
}
#lockTopCbox::indicator::unchecked {
    image: url(:/fd/images/check_off.png);
}
#lockTopCbox::indicator::checked {
    image: url(:/fd/images/check_on.png);
}

QProgressBar {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    border: none;
}
QProgressBar::chunk {
    background-color: #46B9F0;
    padding: 0px;
    margin: 0px;
}

/*#DownloadItemUi {
    background-color: #d1eaff;
}*/

QListWidget::QScrollBar:horizontal {
    border: 2px solid grey;
     background: #32CC99;
     height: 15px;
     margin: 0px 20px 0 20px;
}

/**
* mainWindow style
****************************/


/****************************
* newTaskDialog style
**/
#NewTaskDialog {
    background-color:  #F6FBFE;
}

#newTaskTitle {
    background-color: #46B9F0;
}

#newTaskTitle .QLabel {
    color: #FFFFFF;
}

#newTaskAddrEdit {
    border: 1px solid #BFE1F2;
}

#newTaskSaveDirEdit {
    border: 1px solid #BFE1F2;
}

#newTaskSelectDirBtn {
    border: none;
    background-color: #46B9F0;
    color: #FFFFFF;
}

#newTaskBottomBox {
    background-color: #E3EEF4;
}

#newTaskDownloadBtn {
    border: none;
    background-color: #46B9F0;
    color: #FFFFFF;
}
/**
* newTaskDialog style
****************************/
