
#toolsBar {
    border-left:1px solid #46B9F0;
    border-right:1px solid #46B9F0;
    background-color: #BFE1F2;
}

#statusBar {
    border-left:1px solid #46B9F0;
    border-right:1px solid #46B9F0;
    border-bottom:1px solid #46B9F0;
    background-color: #E1ECF2;
}

#newTaskBtn {
    border:none;
    background:transparent;
}
